.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/raty.eot");
  src: url("fonts/raty.eot?#iefix") format("embedded-opentype");
  src: url("fonts/raty.svg#raty") format("svg");
  src: url("fonts/raty.ttf") format("truetype");
  src: url("fonts/raty.woff") format("woff");
}

.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "raty";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.cancel-on-png:before {
  content: "\e600";
}

.cancel-off-png:before {
  content: "\e601";
}

.star-on-png:before {
  content: "\f005";
}

.star-off-png:before {
  content: "\f006";
}

.star-half-png:before {
  content: "\f123";
}
/* line 5, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/products.css.scss */
th {
  font-size: 1.5em;
  margin-bottom: 25px;
  color: gray;
}

/* line 11, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/products.css.scss */
table {
  border-collapse: separate;
  border-spacing: 1.5em;
}
/* line 1, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 5, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/static_pages.css.scss */
* {
  margin: 0;
}

/* line 9, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/static_pages.css.scss */
html, body {
  height: 100%;
}

/* line 13, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/static_pages.css.scss */
h1 {
  color: gray;
}

/* line 16, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/static_pages.css.scss */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -42px;
}

/* line 21, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/static_pages.css.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/* line 25, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/static_pages.css.scss */
.site-footer, .page-wrap:after {
  height: 42px;
}

/* line 28, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/static_pages.css.scss */
.site-footer {
  background: #ADD8E6;
}

/* line 32, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/static_pages.css.scss */
.navbar-default {
  background: #ADD8E6;
}

/* line 37, /Users/kate/Desktop/nameofapp/app/assets/stylesheets/static_pages.css.scss */
.product-reviews,
.comments-form {
  padding: 5em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

