// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
}

html, body {
  height: 100%;
}

h1 {
	color: gray;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -42px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 42px; 
}
.site-footer {
  background: #ADD8E6;
}

.navbar-default {
	background: #ADD8E6;
}

.product-reviews,
.comments-form {
  padding: 5em;
}

